.map {
    height: 80%;
    width: 80%;
    position: absolute;
}

.sensor1 {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 250px;
    top: -400px;
}
.sensor2 {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 300px;
    top: -450px;
}
.sensor3 {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 500px;
    top: -350px;
}
.sensor4 {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 400px;
    top: -450px;
}
.sensor5 {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 350px;
    top: -450px;
}
.sensor6 {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 450px;
    top: -300px;
}
.sensor7 {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 400px;
    top: -450px;
}
.sensor8 {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 480px;
    top: -420px;
}
.my_pos {
    height: 15px;
    width: 15px;
    background-color: black;
    position: absolute;
    left: 400px;
    top: -300px;
}